# Makefile for libttscache
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = ttscache

LIB_BOOST_LIB_NAMES := system filesystem locale

LIB_SRCC = \
        ttscache.cpp \
        wav_proc.cpp \
        ttscache_serial.cpp \
        str_proc.cpp \

LIB_EXT_LIB_NAMES = \
        convimp3 \
        lameplus \
        tts_connect \
        espeak_cpp \
        wave \
        gspeak \
        svox \
        festvox \
        utils \
        lang_tools
