# Makefile for libttscache
# Copyright (C) 2014 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_BOOST_LIB_NAMES := system filesystem locale

APP_THIRDPARTY_LIBS = -lcurl -lportaudio -lespeak -lmp3lame

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
        convimp3 \
        lameplus \
        tts_connect \
        espeak_cpp \
        wave \
        gspeak \
        svox \
        festvox \
        utils \
        lang_tools
